Package: lol.spyware.spiceuntether.fd6
Name: Spice Untether Payload (FD6)
Version: 1.0.174
Architecture: iphoneos-arm
Description: Upgrades the Spice jailbreak to untethered
Maintainer: UInt2048
Author: JakeBlair420
Section: System
Depends: firmware (>= 11.0), firmware (<= 11.4.1)
